[submodule "repos/openembedded-core"]
	path = repos/openembedded-core
	url = https://git.openembedded.org/openembedded-core
	branch = wrynose
[submodule "repos/bitbake"]
	path = repos/bitbake
	url = https://git.openembedded.org/bitbake
	branch = master
[submodule "repos/meta-yocto"]
	path = repos/meta-yocto
	url = https://git.yoctoproject.org/meta-yocto
	branch = wrynose
[submodule "repos/meta-openembedded"]
	path = repos/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = wrynose
[submodule "repos/meta-virtualization"]
	path = repos/meta-virtualization
	url = https://git.yoctoproject.org/meta-virtualization
	branch = wrynose
[submodule "repos/meta-clang"]
	path = repos/meta-clang
	url = https://github.com/kraj/meta-clang.git
	branch = wrynose
[submodule "repos/meta-tegra"]
	path = repos/meta-tegra
	url = https://github.com/OE4T/meta-tegra.git
	branch = wrynose
[submodule "repos/meta-tegra-community"]
	path = repos/meta-tegra-community
	url = https://github.com/OE4T/meta-tegra-community
	branch = wrynose
